#logo{
    height:100px;
    text-align: center;
    border: 1px solid red;
}
#tab_content{
    border:1px solid red;
    min-height:550px;
}
#foot{
    border: 1px solid green;
    margin-top: 5px;
    height: 50px;
}