<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bishe</title>
    <link rel="stylesheet" href="{% static 'bishe/bootstrap5/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bishe/css/style.css' %}" type="text/css"/>
     <link rel="stylesheet" href="{% static 'bishe/css/footable.bootstrap.min.css' %}" type="text/css"/>
{#     <link rel="stylesheet" href="{% static 'bishe/css/tagcloud.css' %}" type="text/css"/>#}
</head>
<body>
    <div class="container">
        <div class="" id="logo">这是LOGO</div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#mirset">miRSet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#download">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#about">About</a>
            </li>
        </ul>
        <div class="tab-content" id="tab_content">
            <div class="tab-pane active container" id="home">
                <div class="row">
                    <div class="col-6">这是1</div>
                    <div class="col-5">2</div>
                </div>
            </div>
            <div class="tab-pane container" id="search">这是miRNA信息检索页面，开发者：苏金昊</div>
            <div class="tab-pane container" id="mirset">
                <script src="{% static 'bishe/js/jquery-3.6.0.min.js' %}"></script>
                <script src="{% static 'bishe/js/echarts.common.min.js' %}"></script>
                 <script src="{% static 'bishe/js/echarts.js' %}"></script>
                 <script src="{% static 'bishe/js/footable.min.js' %}"></script>
                <script src="{% static 'bishe/js/jquery-ui-1.10.4.min.js' %}"></script>
                <div id="container" style="width:100%">
                <div id="header" style="background-color:#FFA500;">
                   <!-- HTML部分 -->
                <form id="searchRelationForm" class="form-inline" style="width:100%;" method="get">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="entity1" class="input-group">
                                <input type="text" id="entity1_text" name="entity1_text" class="form-control" placeholder="eg: hsa-mir-33a">
                                <span class="input-group-btn">
                                    <button type="button" id="btnSearch" class="btn btn-outline-success" onclick="submitSearch();">Search</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
                <!-- 你的树形结构部分 -->
                <div id="menu" style="background-color:#FFD700;height:700px;width:20%;float:left;">
                    <td style="vertical-align:top;">
                        <ul id="browse_net" class="treeview">
                            <style>
                                .expandable ul {
                                    display: none;
                                    padding-left: 15px; /* 添加一些左边距以缩进子列表 */
                                }

                                .toggle-icon {
                                    cursor: pointer;
                                    margin-right: 5px;
                                    user-select: none;
                                }
                            </style>

                            <ul>
                                <!-- 第一个列表项 -->
                                <li id="n1" class="expandable">
                                    <!-- 显示折叠图标的 span 元素 -->
                                    <span class="toggle-icon" onclick="toggleContent(this)">➕</span>
                                    <!-- 显示文本 "mirna" 的 span 元素，并绑定点击事件 -->
                                    <span onclick="fillSearchBar(this.innerText)">mirna</span>
                                    <!-- 用于显示内容的容器，设置高度为 320px，超出部分可滚动 -->
                                    <div id="contentContainer1" style="height: 320px; overflow-y: scroll;"></div>
                                    <!-- JavaScript 脚本 -->
                                    <script>
                                        // 加载文本内容的函数，接受文件路径、目标元素ID和分组方式作为参数
                                        function loadTextContent(file_path, target_element_id, groupBy) {
                                            // 创建 XMLHttpRequest 对象
                                            var xhr = new XMLHttpRequest();
                                            // 监听状态变化事件
                                            xhr.onreadystatechange = function() {
                                                // 当请求完成时
                                                if (xhr.readyState === XMLHttpRequest.DONE) {
                                                    // 如果请求成功
                                                    if (xhr.status === 200) {
                                                        // 将响应文本按行拆分为数组
                                                        var lines = xhr.responseText.split('\n');
                                                        // 获取内容容器元素
                                                        var contentContainer = document.getElementById(target_element_id);
                                                        // 初始化用于存储分类的数组
                                                        var enrichments = [];
                                                        var categories = [];
                                                        var mirnas = [];
                                                        // 遍历每一行
                                                        lines.forEach(function(line) {
                                                            // 将每行按制表符分割为富集方式、类别名和 MIRNA 名称
                                                            var [enrichment, category, ...mirna] = line.trim().split('\t');
                                                            // 将富集方式、类别名和 MIRNA 名称分别存储到对应数组中
                                                            enrichments.push(enrichment);
                                                            categories.push(category);
                                                            mirnas.push(...mirna);
                                                        });
                                                        // 对数组进行去重和排序
                                                        enrichments = Array.from(new Set(enrichments)).sort();
                                                        categories = Array.from(new Set(categories)).sort();
                                                        mirnas = Array.from(new Set(mirnas)).sort();
                                                        // 根据分组方式选择要显示的项目数组
                                                        var items = groupBy === 'mirnas' ? mirnas : categories;
                                                        // 渲染项目到内容容器中
                                                        renderItems(items, contentContainer);
                                                    }
                                                }
                                            };
                                            // 打开并发送 HTTP 请求
                                            xhr.open("GET", file_path, true);
                                            xhr.send();
                                        }

                                        // 渲染项目到指定容器的函数
                                        function renderItems(items, contentContainer) {
                                            // 遍历项目数组
                                            items.forEach(function(element) {
                                                // 创建 div 元素
                                                var div = document.createElement("div");
                                                // 创建 span 元素，设置文本内容并绑定点击事件
                                                var span = document.createElement("span");
                                                span.textContent = element;
                                                span.onclick = function() {
                                                    fillSearchBar(this.innerText);
                                                };
                                                // 将 span 元素添加到 div 元素中
                                                div.appendChild(span);
                                                // 将 div 元素添加到内容容器中
                                                contentContainer.appendChild(div);
                                            });
                                        }

                                        // 调用加载文本内容函数，并传入文件路径、目标元素ID和分组方式
                                        loadTextContent('{% static 'mirset_v9.txt' %}', 'contentContainer1', 'mirnas');
                                    </script>
                                </li>

                                <!-- 第二个列表项 -->
                                <li id="n2" class="expandable">
                                    <!-- 显示折叠图标的 span 元素 -->
                                    <span class="toggle-icon" onclick="toggleContent(this)">➕</span>
                                    <!-- 显示文本 "disease" 的 span 元素，并绑定点击事件 -->
                                    <span onclick="fillSearchBar(this.innerText)">disease</span>
                                    <!-- 用于显示内容的容器，设置高度为 320px，超出部分可滚动 -->
                                    <div id="contentContainer2" style="height: 320px; overflow-y: scroll;"></div>
                                    <!-- JavaScript 脚本 -->
                                    <script>
                                        // 调用加载文本内容函数，并传入文件路径、目标元素ID和分组方式
                                        loadTextContent('{% static 'mirset_v9.txt' %}', 'contentContainer2', 'category');
                                    </script>
                                </li>
                            </ul>


                            <script>
                                function toggleContent(element) {
                                    var parentLi = element.closest('.expandable');
                                    var ul = parentLi.querySelector('ul');

                                    if (ul) {
                                        ul.style.display = (ul.style.display === 'none') ? 'block' : 'none';
                                    }
                                }

                                function fillSearchBar(value) {
                                    document.getElementById('entity1_text').value = value;
                                }

                                function submitSearch() {
                                    document.getElementById('searchRelationForm').submit();
                                }
                            </script>
                        </ul>
                    </td>
                </div>


                <div id="content" style="background-color:#EEEEEE;height:700px;width:80%;float:left;">
                    <div id="graph" style="height:700px;width: 1000px;"></div>
                </div>

                <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
                    <table class = "table" data-paging =  "true" data-sorting="true"></table>
                </div>
                <style>
                    .table {
                        width: 100%;
                        border-collapse: collapse;
                        margin-top: 20px; /* 调整表格与其他内容的间距 */
                    }

                    .table th, .table td {
                        border: 1px solid #ddd;
                        padding: 8px;
                        text-align: left;
                    }

                    .table th {
                        background-color: #FFA500;
                        color: white;
                    }

                    .table tbody tr:hover {
                        background-color: #f5f5f5;
                    }

                    .pagination {
                        display: flex;
                        justify-content: center;
                        list-style: none;
                        padding: 0;
                    }

                    .pagination li {
                        margin: 0 5px;
                    }

                    .pagination a {
                        text-decoration: none;
                        padding: 8px 12px;
                        border: 1px solid #ddd;
                        background-color: #f5f5f5;
                        color: #333;
                        border-radius: 4px;
                    }

                    .pagination a:hover {
                        background-color: #ddd;
                    }
                </style>

                </div>
                </div>

                 {% csrf_token %}
                 <script type="text/javascript">
                     var str1 = {{ searchResult|safe }}
                 </script>
                 <script src="{% static 'bishe/js/mirset.js' %}"></script>
            </div>
            <div class="tab-pane container" id="analysis">这是miRNA集合富集分析平台，开发者：韩睿智</div>
            <div class="tab-pane container" id="download">这是网站下载页面</div>
            <div class="tab-pane container" id="help">这是网站帮助页面</div>
            <div class="tab-pane container" id="about">这是网站关于我们页面</div>
        </div>
        <div class="footer" id="foot">这是页脚</div>
    </div>

<script src="{% static 'bishe/bootstrap5/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function() {
    // 当tab改变时，保存当前的tab到localStorage
    $('a[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('lastTab', $(this).attr('href'));
    });

    // 获取localStorage中的lastTab
    var lastTab = localStorage.getItem('lastTab');

    // 如果存在lastTab，那么显示这个tab
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});
</script>
</body>
</html>