<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'mircards/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!--    <link href="{% static 'mircards/bootstrap5/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">-->
</head>
<body>
<!--
<div class="container  p-4  my-3 text-whit  " style="background-color:#52ac88">
    <h1>miRCards</h1>
</div>
-->
 <div class="container  p-4  my-3" >
    <img src=" /static/mircards/image/logo.jpg" class="img-fluid">
</div>
 <div class="container">

    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/index">
            <button type="button" class="btn btn-success  ">Home</button>
        </a>
    </div>

    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/search">
            <button type="button" class="btn btn-success ">Search</button>
        </a>
    </div>

    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/mirset">
            <button type="button" class="btn btn-success  ">miRSet</button>
        </a>
    </div>

    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/analysis">
            <button type="button" class="btn btn-success  ">Analysis</button>
        </a>
    </div>
    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/download">
        <button type="button" class="btn btn-success  "  > Download</button>
        </a>
    </div>
    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/help">
        <button type="button" class="btn btn-success  ">Help</button>
        </a>
    </div>
    <div class="btn-group">
        <a href="http://127.0.0.1:8000/mircards/about">
        <button type="button" class="btn btn-success  "  >About</button>
        </a>
    </div>
</div>
<div class="container my-3" style="border:1px solid #c5c5c5;">
    <h2>help</h2>

</div>

<script src="{% static 'mircards/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>