<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'mircards/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<!--    <link href="{% static 'mircards/bootstrap5/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">-->
</head>
<body>
<div class="container mt-3">
  <img src="/static/mircards/image/Title.jpg" class="mx-auto d-block" style="width:100%">
</div>

<div class="container mt-7">
  <div class="btn-group btn-group-lg">
    <button type="button" >
        <a href="#" class="btn btn-info" role="button">Home</a>
    </button>
      <button type="button" >
        <a href="#" class="btn btn-info" role="button">Search</a>
    </button>
      <button type="button" >
        <a href="#" class="btn btn-info" role="button">miRSet</a>
    </button>
      <button type="button" >
        <a href="#" class="btn btn-info" role="button">Analysis</a>
    </button>
      <button type="button" >
        <a href="#" class="btn btn-info" role="button">Download</a>
    </button>
      <button type="button" >
        <a href="#" class="btn btn-info" role="button">help</a>
    </button>
      <button type="button" >
        <a href="#" class="btn btn-info" role="button">About</a>
    </button>

  </div>
</div>





<script src="{% static 'mircards/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>