<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>miRCards</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bishe/bootstrap5/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'bishe/css/style.css' %}" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="" id="logo">这是LOGO</div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active " data-bs-toggle="pill" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#search" >Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#mirset">miRSet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#download">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#about">About</a>
            </li>
        </ul>
        <div class="tab-content" id="tab_content">
            <div class="tab-pane active container" id="home">
                <div class="row">
                    <div class="col-6">这是1</div>
                    <div class="col-5">2</div>
                </div>
            </div>
        <div class="tab-pane container" id="search">
       <form action="/mircards/search_mirna" method="post" name="form_1">
           {% csrf_token %}
         <div id="fragment-3">
        <div style="margin:30px 0 0 50px;">
            <p style="margin:10px 0 0 0; font-size:150%;"> You can submit keywords for searching. <span id="example" style="margin-left:20px;color: deepskyblue;cursor: pointer;">Use example</span></p>
            <div style="margin-top:10px;">
                <div style="float: left;margin-top:40px;">
                    <select id="input1_1" style="width:85px;font-size: 16px;">
                        <option value="mir" selected="selected">miRNA</option>
                        <option value="dis">Disease</option>
                    </select>
                </div>

                <div style="float: left;margin-left:20px;">
                    <textarea id="input1_3" rows="5" name="text1" cols="50" style="font-size: 16px;"></textarea>
                </div>
                <div style="float:left;margin-top:40px;">

                    <input type="submit" class="btn btn_1" style="font-size:16px; margin:0 0 0 60px;"value="Click to Search">
                     <input id="resetsearch" type="reset" class="btn btn_1" style="margin-left:40px;font-size:16px;" value="Reset all">

                </div>

                <div style="clear:both"></div>
            </div>
        </div>
        <div id="searchresult" style="margin:15px 0 0 50px;"></div>
    </div>
   </form>

 </div>
<script>
     document.getElementById('example').addEventListener('click', function() {
        document.getElementById('input1_3').value = 'hsa-miR-410-5p'; // 自动填充输入框内容
    });
    document.getElementById('resetsearch').addEventListener('click', function() {
        document.getElementById('input1_3').value = ''; // 清空输入框内容
        document.getElementById('searchresult').innerHTML = '<h2>Begin a new search!</h2>'; // 弹出提示消息
    });


</script>






            <div class="tab-pane container" id="mirset">这是miRNA集合注释平台，开发者：杨俊毅</div>
            <div class="tab-pane container" id="analysis">这是miRNA集合富集分析平台，开发者：韩睿智</div>
            <div class="tab-pane container" id="download">这是网站下载页面</div>
            <div class="tab-pane container" id="help">这是网站帮助页面</div>
            <div class="tab-pane container" id="about">这是网站关于我们页面</div>
        </div>
        <div class="footer" id="foot">这是页脚</div>
    </div>

<script src="{% static 'bishe/bootstrap5/js/bootstrap.min.js' %}"></script>
</body>
</html>