body{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.div_1{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin: 150px auto;
}
.div_2{
    border: 1px solid green;
    height: 200px;
    background-color: #69216A;
}
.div_3{
    color: white;
    font-size: 46px;
    text-align: center;
    font-family: '华文行楷';
    margin-top: 20px;
}
.span_1{
    margin-left: 50px;
}
.a_1{
    margin-left: 200px;
}