{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="{% static "ams/bootstrap5/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "ams/css/style2.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="div_1">
    <div class="div_2">
        <img src="{% static 'ams/image/head.gif' %}" width="200px" height="80px">
        <div class="div_3"><span>师生获奖管理系统</span></div>
    </div>
    <div class="div_4">
        <div>
            <span class="span_1">欢迎登录</span>
            <a href="#" class="a_1">忘记密码？</a>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
</body>
</html>